<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239728415869-cqgq939ec1eo43fqace4l36lak89stcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239728415869-cqgq939ec1eo43fqace4l36lak89stcr</string>
	<key>API_KEY</key>
	<string>AIzaSyArdEjMpyzknuFfJurLJQPzpStBb5mjsJA</string>
	<key>GCM_SENDER_ID</key>
	<string>239728415869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Todo</string>
	<key>PROJECT_ID</key>
	<string>my-todos-3e158</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todos-3e158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239728415869:ios:526e531a2fc8f9c434cd14</string>
</dict>
</plist>